/* Fondo general */
body {
  margin: 0;
  background: #f0f6ff; /* celeste claro */
  font-family: "Poppins", decorative;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1877f2; /* azul sólido */
  height: 80px;
  padding: 0 24px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* sombra sutil */
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.navbar.scrolled {
  background: rgba(41, 121, 225, 0.619); /* azul suave con transparencia */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px); /* opcional: efecto de difuminado detrás */
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-grow: 1;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ffdd57;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.btn-login,
.btn-logout {
  background: #145dbf; /* azul más oscuro */
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px; /* pill redondeado */
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 19px;
}

.btn-login:hover,
.btn-logout:hover {
  background: #0f4aa3;
}
